:root {
  --primary-color: #6a189a;
  --accent-color: #ff6f00;
  --dark-color: #333333;
  --background-color: #fdfff2;
  --muted-color: #e0d6ce;
  --greyed-out-color: #b6a99f;
}

body {
  background: var(--background-color);
}

h1 {
  color: var(--primary-color);
  font-family: "Cormorant SC", serif;
}

h2 {
  color: var(--accent-color);
  font-family: "Cormorant SC", serif;
}

h3 {
  color: var(--primary-color);
  font-family: "Lora", serif;
}

p {
  color: var(--dark-color);
  font-family: "Source Code Pro", monospace;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--greyed-out-color);
  text-decoration: underline;
}
